# Configuración de base de datos
DATABASE_URL=sqlite:///data/steamkeys.db

# Cotización de referencia para TF2 Keys
DEFAULT_TF2_STEAM_PRICE=2.02
DEFAULT_TF2_CASH_PRICE=1.62
DEFAULT_STEAM_FEE_PERCENT=13.03
