[
  {
    "id": 1,
    "steam_app_id": 278360,
    "name": "Ejemplo de Juego",
    "bundle": "Bundle Ejemplo",
    "platform": "STEAM",
    "hb_status": "Disponible",
    "key_url": "",
    "buyer_name": null,
    "status": "available",
    "is_reviewed": true,
    "is_sold": false,
    "tf2_keys_offered": 0.0,
    "offer_price": 0.0,
    "offer_currency": "TF2",
    "counter_increase_tf2": 0.0,
    "counter_price": 0.0,
    "counter_currency": "TF2",
    "sold_price": null,
    "sold_currency": "TF2",
    "sold_note": null,
    "issue_note": null,
    "steam_header_image": null,
    "is_delisted_steam": false,
    "delisted_reason": null,
    "steam_store_price": null,
    "steam_players_24h": null,
    "ggdeals_current_official": null,
    "ggdeals_current_keyshop": null,
    "ggdeals_current_keyshop_discount": null,
    "ggdeals_historical_official_low": null,
    "ggdeals_historical_official_time": null,
    "ggdeals_historical_keyshop_low": null,
    "ggdeals_historical_keyshop_time": null,
    "best_keyshop_price_eur": null,
    "best_keyshop_name": "Keyshops"
  }
]
